<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Outlay{% endblock %}
{% load static %}

{% block content %}


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<br>
<br>
{% if user.is_authenticated %}
 <canvas id="myChartBar"></canvas>
<script>  
  $(document).ready(function() {
      $.ajax({
          url: '/chart/',
          type: 'GET',
          dataType: 'json',
          success: function(data) {
            drawBarGraph(data, 'myChartBar');
          }
      });
  });
  function drawBarGraph(data, id) {
    var labels = data.labels;
    var chartLabel = data.labels;
    var chartdata = data.data;
    var charttotal = data.total;
    if (charttotal > 0){  
      document.getElementById('output').innerHTML = charttotal+"₹";
    } else{
      document.getElementById('output').remove();
      document.getElementById('view_details').remove();
    }
    var ctx = document.getElementById(id).getContext('2d');
    var coloR = [];
    coloR = [   
          '#d53e4f',
          '#f46d43',
          '#fdae61',
          '#fee08b',
          '#e6f598',
          '#abdda4',
          '#66c2a5',
          '#3288bd',
          ] 
    var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: labels,
        datasets: [{
          label: chartLabel,
          data: chartdata,
          backgroundColor : coloR,
          borderColor: '#1f1f1f',
          hoverBorderColor: 'rgba(200, 200, 200, 0.2)',
          borderWidth: 5,
          borderAlign: 'center'
        }]
      }
    });
  }
  function validateForm() {
    const categories = document.getElementsByName('category');
    let isCategorySelected = false;

    // Check if any radio button is selected
    for (let i = 0; i < categories.length; i++) {
      if (categories[i].checked) {
        isCategorySelected = true;
        break;
      }
    }

    // Show error message if no category is selected
    if (!isCategorySelected) {
      const errorMessage = document.getElementById('error-message');
      errorMessage.style.display = 'block';
      return false; // Prevent form submission
    }

    return true; // Allow form submission
  }
  function deleteid(id){
    $.ajax({
      url: '/view_more/delete/',
      data: {
        'id':id,
      },
      dataType: 'json',
      success: function(data) {
        console.log(data);  
      }
    });
  }
</script>
<style>
  .btn-check {
    display: none; /* Hide the default radio button */
  }

  .btn {
    display: inline-block;
    height: 35px; /* Match the text field height */
    width: 120px; /* Adjust width to be responsive */
    line-height: 35px; /* Center text vertically */
    padding: 0 1px; /* Adjust padding for consistent spacing */
    margin: 1px 0; /* Add vertical spacing between buttons */
    background-color: #5F6368; /* Default background color */
    color: #0f0f0f;
    border: 2px solid #5F6368;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
  }

  .btn:hover {
    background-color: #e0e0e0; /* Hover effect */
  }

  .btn-check:checked + .btn {
    background-color: #343A40; /* Background color when selected */
    color: #fff; /* Text color when selected */
    border-color: #343A40;
  }
  .table {
    border-radius: 10px; /* Adjust the value for desired roundness */
    overflow: hidden; /* Ensures the radius applies to table content */
  }
</style>

<br>
<div class="container text-center">
  <p id="output" style="font-size: 20px; width: 200px; color: #E3E6E0; font-weight: bold; border: 2px solid #E3E6E0; padding: 10px; border-radius: 50px; margin: auto;"></p>  
</div>

  <br>
  <br>
  <form class="text-center" method="POST" action="{% url 'add' %}">
    {% csrf_token %}
    <input type="text" pattern="[a-zA-Z]+\s\d+" name="expense" style="height: 45px; width: 250px; background-color: #E3E6E0; border: solid #E3E6E0; border-radius: 50px; margin: 5px;" required oninvalid="this.setCustomValidity('Please enter a word followed by a space and an amount')" oninput="this.setCustomValidity('')" placeholder="&nbsp;&nbsp;&nbsp;Add Expense..."/>
    <input type="hidden" name="user" value="{{ user.username }}">
    
    <div>
        <input type="radio" class="btn-check" name="category" id="travel" value="travel" required>
        <label class="btn" for="travel">Travel</label>
        <input type="radio" class="btn-check" name="category" id="grocery" value="grocery" required>
        <label class="btn" for="grocery">Grocery</label>
    </div>
    <div>
        <input type="radio" class="btn-check" name="category" id="shopping" value="shopping" required>
        <label class="btn" for="shopping">Shopping</label>
        <input type="radio" class="btn-check" name="category" id="dineout" value="dineout" required>
        <label class="btn" for="dineout">Dineout</label>
    </div>
    <div>
      <input type="radio" class="btn-check" name="category" id="emergency" value="emergency" required>
      <label class="btn" for="emergency">Emergency</label>
      <input type="radio" class="btn-check" name="category" id="entertainment" value="entertainment" required>
      <label class="btn" for="entertainment">Entertainment</label>
    </div>
    <div>
      <input type="radio" class="btn-check" name="category" id="office" value="office" required>
      <label class="btn" for="office">Office</label>
      <input type="radio" class="btn-check" name="category" id="other" value="other" required>
      <label class="btn" for="other">Other</label>
    </div>
    <input class="btn btn-primary" type="submit" value="Add" style="font-size: 20px; width:250px; background-color: #343A40; border-color: #343A40; margin: 5px;" required onclick="validateForm()"/>
    <br/>
    <p id="error-message" style="color: red; font-size: 16px; display: none;">Please select expense category.</p>
</form>

  <br>
  <br>
  {% if comp_data %}
  <div class="container">
    <h2 class="text-center" style="font-size: 20px; width: 200px; color: #E3E6E0; font-weight: bold; border: 2px solid #E3E6E0; padding: 10px; border-radius: 50px; margin: auto;">Expenses</h2><br>            
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th>Description</th>
          <th>Amount</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        {% for i in comp_data %}
        <tr>
          <td>{{i.name | title }} ({{i.category | title }})</td>
          <td>{{i.price}}</td>
          <td>{{i.current_date|date:"d M"}}</td>
          <td><a href="delete/?id={{i.id}}" style="color: red;">&times;</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="text-center" class="container">
      <a href="/"  style="font-size: 20px; width: 200px; color: #E3E6E0; font-weight: bold; margin: auto;">Hide</a>
    </div>
  </div>

  {%else%}
  <div class="text-center" id="view_details" class="container" >
    <a href="view_more"  style="font-size: 20px; width: 200px; color: #E3E6E0; font-weight: bold; margin: auto;"><u>View Expenses</u></a>
  </div>
  {% endif %}

{% else %}
<div class="text-center" class="container">
  <br><br>
  <img src="{% static 'logo.jpg'%}" alt="Italian Trulli">
  <br><br>

  <a class ="btn btn-primary" href="{% url 'login' %}" style="font-size: 20px; background-color: #343A40; border-color: #343A40;">Log In</a>&nbsp;
  <a class ="btn btn-primary" href="{% url 'signup' %}" style="font-size: 20px; background-color: #343A40; border-color: #343A40;">Sign Up</a>
</div>
{% endif %}
{% endblock %}